.container-mainmenu {
    width: 100vw;
    height: 4vh;
    background-color: #213c55;
    position: sticky;
    top: 0;
}

.menu-items {
    width: 100vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #213c55;
}

.icon-mainmenu {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.icon-mainmenu:hover {
    fill: #7076f4;
    font-size: 1.4rem;
}

/* *************MEDIA QUERIES************** */

            /*
             MOBILE - ATÉ 768px
             TABLET - 768px até 1024px
             DESKTOP - 1024px até 1200px
             GRANDES TELAS - ACIMA DE 1200PX
            */

@media screen and (max-width: 768px) { /* CELULARES */
    .menu-items {
        width: 100vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        background-color: #213c55;
    }

    .icon-mainmenu {
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        padding: 3px;
    }

    .icon-mainmenu:hover {
        fill: #7076f4;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* TABLETS */
    .menu-items {
        width: 100vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        background-color: #213c55;
    }

    .icon-mainmenu {
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        padding: 3px;
    }

    .icon-mainmenu:hover {
        fill: #7076f4;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) { /* DESKTOP */
    .menu-items {
        width: 100vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        background-color: #213c55;
    }

    .icon-mainmenu {
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        padding: 2px;
    }

    .icon-mainmenu:hover {
        fill: #7076f4;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    .menu-items {
        width: 100vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        background-color: #213c55;
    }

    .icon-mainmenu {
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        padding: .5px;
    }

.icon-mainmenu:hover {
        fill: #7076f4;
        font-size: 1.4rem;
    }
}