.container-skills {
    width: 100vw;
}

/* *************MEDIA QUERIES************** */

            /*
             MOBILE - ATÉ 768px
             TABLET - 768px até 1024px
             DESKTOP - 1024px até 1200px
             GRANDES TELAS - ACIMA DE 1200PX
            */

@media screen and (max-width: 768px) { /* CELULARES */

    .sub-container-skills {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 91vw;
        height: 100%;
        justify-self: center;
        margin-top: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .title-skills { /* TITLE */ 
        display: flex;
        flex-direction: row;    
        gap: 10px;
        justify-content: center;
        padding: 12px;
    }

    .title-skills span {
        font-size: 1.3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: #213c55;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .icon-title-skill {
        font-size: 1.5rem;
        color: #213c55;
    } /* TITLE */ 

    .details-skills { /* DETAILS */
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 15px;
    }

    .item-skill {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    .info-percentage-skills { /* PORCENTAGEM */
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin-left: 2.7vw;
        position: relative;
    }

    .icon-skill {
        font-size: 1.1rem;
        color: #213c55;
    }

    .desc-skill {
        margin-left: 5px;
        font-size: .9rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .desc-percentage {
        font-size: .9rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px .5px #1d1d1d;
        position: absolute;
        left: 79vw;
        color: #213c55;
    } /* PORCENTAGEM */

    .container-progress-skills { /* PROGRESSO */
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }

    .progress-skills { 
        width: 85vw;
        height: 1vh;
        background-color: #f1efef;
        border-radius: 10px;
    }

    .progress-bar {
        height: 1vh;
        background-color: #213c55;
        border-radius: 10px;
    }

}     

@media screen and (min-width: 768px) and (max-width: 1024px) { /* TABLETS */

    .sub-container-skills {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 91vw;
        height: 100%;
        justify-self: center;
        margin-top: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .title-skills { /* TITLE */ 
        display: flex;
        flex-direction: row;    
        gap: 10px;
        justify-content: center;
        padding: 12px;
    }

    .title-skills span {
        font-size: 1.3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: #213c55;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .icon-title-skill {
        font-size: 1.5rem;
        color: #213c55;
    } /* TITLE */ 

    .details-skills { /* DETAILS */
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 15px;
    }

    .item-skill {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    .info-percentage-skills { /* PORCENTAGEM */
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin-left: 2.7vw;
        position: relative;
    }

    .icon-skill {
        font-size: 1.1rem;
        color: #213c55;
    }

    .desc-skill {
        margin-left: 5px;
        font-size: .9rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .desc-percentage {
        font-size: .9rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px .5px #1d1d1d;
        position: absolute;
        left: 82vw;
        color: #213c55;
    } /* PORCENTAGEM */

    .container-progress-skills { /* PROGRESSO */
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }

    .progress-skills { 
        width: 85vw;
        height: 1vh;
        background-color: #f1efef;
        border-radius: 10px;
    }

    .progress-bar {
        height: 1vh;
        background-color: #213c55;
        border-radius: 10px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1200px) { /* DESKTOP */

    .sub-container-skills {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 91vw;
        height: 100%;
        justify-self: center;
        margin-top: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .title-skills { /* TITLE */ 
        display: flex;
        flex-direction: row;    
        gap: 10px;
        justify-content: center;
        padding: 12px;
    }

    .title-skills span {
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: #213c55;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .icon-title-skill {
        font-size: 1.7rem;
        color: #213c55;
    } /* TITLE */ 

    .details-skills { /* DETAILS */
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 15px;
    }

    .item-skill {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .info-percentage-skills { /* PORCENTAGEM */
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin-left: 2.7vw;
        position: relative;
    }

    .icon-skill {
        font-size: 1.1rem;
        color: #213c55;
    }

    .desc-skill {
        margin-left: 5px;
        font-size: 1.1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .desc-percentage {
        font-size: 1.1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px .5px #1d1d1d;
        position: absolute;
        left: 82.1vw;
        color: #213c55;
    } /* PORCENTAGEM */

    .container-progress-skills { /* PROGRESSO */
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }

    .progress-skills { 
        width: 85vw;
        height: 1vh;
        background-color: #f1efef;
        border-radius: 10px;
    }

    .progress-bar {
        height: 1.2vh;
        background-color: #213c55;
        border-radius: 10px;
    }

}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    
    .sub-container-skills {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 91vw;
        height: 100%;
        justify-self: center;
        margin-top: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .title-skills { /* TITLE */ 
        display: flex;
        flex-direction: row;    
        gap: 10px;
        justify-content: center;
        padding: 12px;
    }

    .title-skills span {
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: #213c55;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .icon-title-skill {
        font-size: 1.7rem;
        color: #213c55;
    } /* TITLE */ 

    .details-skills { /* DETAILS */
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 15px;
    }

    .item-skill {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .info-percentage-skills { /* PORCENTAGEM */
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin-left: 2.7vw;
        position: relative;
    }

    .icon-skill {
        font-size: 1.1rem;
        color: #213c55;
    }

    .desc-skill {
        margin-left: 5px;
        font-size: 1.1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px 1px #f1efef;
    }

    .desc-percentage {
        font-size: 1.1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        text-shadow: .5px .5px .5px #1d1d1d;
        position: absolute;
        left: 82.8vw;
        color: #213c55;
    } /* PORCENTAGEM */

    .container-progress-skills { /* PROGRESSO */
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }

    .progress-skills { 
        width: 85vw;
        height: 1vh;
        background-color: #f1efef;
        border-radius: 10px;
    }

    .progress-bar {
        height: 1.2vh;
        background-color: #213c55;
        border-radius: 10px;
    }

}